body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.video-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
  height: 100vh;
}

@media (max-width: 768px) {
  .video-box {
    flex-wrap: wrap;
    height: auto;
  }
  .video {
    flex-basis: 50%; /* geändert, um zwei Videos pro Zeile anzuzeigen */
    margin-bottom: 2em;
  }
}

.video {
  flex-basis: 25%;
  position: relative;
  overflow: hidden;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.video:hover video {
  transform: scale(1.1);
  filter: blur(5px);
}

.videotext {
  position: absolute;
  top: 30%;
  left: 10%;
  font-family: Arial Black, sans-serif;
  font-size: 5em;
  font-style: italic;
  color: red;
  text-align: left;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 2;
}

.video:hover .videotext {
  opacity: 1;
}




/* Tabellendesign */

